<!DOCTYPE html>
<html>
<head>
  <title>SeleniumTest</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<table>
  <tr><td valign="top">
    <img src="/tw-logo.png" style="margin-top: 50px;"/>
    <br>
  </td><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td><td><br/><br/>
  <h1>Selenium Tester</h1>
  <br>
  <br>
<%= yield %></td></tr>
</table>
</body>
</html>
